[BASIC]
good-names=id

[LOGGING]
logging-format-style=new

[MESSAGES CONTROL]
disable=
     missing-module-docstring,
     missing-class-docstring,
     missing-function-docstring,
     too-few-public-methods,
     too-many-public-methods,
     too-many-arguments,
     import-error,
     unsubscriptable-object,
     fixme,
     pointless-string-statement,
     redefined-builtin
