[tool.poetry]
name = "pyolia"
version = "0.5.1"
description = "Async Python wrapper to interact with internal Veolia API"
authors = ["Thibaut Etienne"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/tetienne/python-veolia-api/"
repository = "https://github.com/tetienne/python-veolia-api/"
packages = [
    { include = "pyolia" }
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
aiohttp = "^3.6.1"
backoff = "^1.10.0"

[tool.poetry.dev-dependencies]
tox = "^3.25"
pytest = "^6.2"
pytest-cov = "^2.12.0"
pre-commit = "^2.14"
black = {version = "^21.11b1", allow-prereleases = true}
pylint = "^2.11.1"
isort = "^5.9.3"
mypy = "^0.910"
flake8 = "^4.0.0"
pyupgrade = "^2.28.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.isort]
profile = "black"
